.ipynb_checkpoints/
__MACOSX/
balloon/
train/
.*

dogscats


# models and data
*.pb
*.h5


.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

variables.data*
variables.index*

data/
s2s/
*.zip
*.zip.*

_about.txt
fra.txt
attention_weights
hun_eng*
source_tokenizer.json
target_tokenizer.json
*.tgz
*.csv
*.pkl